
@{
    ViewBag.Title = "update";
}

<h2>update</h2>
<html>

<head>
    <title>1102137203 李佳芸</title>
</head>
<body>
    @using (Html.BeginForm("update", "Employee", FormMethod.Post))
    {
        <table border="1" style="width:100%">
            <tr>
                <td>員工編號</td>
                <td><input type="text" name="empId" value="@ViewBag.empId" /></td>
            </tr>
            <tr>
                <td>姓名(First Name)</td>
                <td><input type="text" name="firstname" value="@ViewBag.data.FirstName" /></td>
            </tr>
            <tr>
                <td>姓名(Last Name)</td>
                <td><input type="text" name="lastname" value="@ViewBag.data.LastName"/></td>
            </tr>
            <tr>
                <td>職稱</td>
                <td>
                    <select name="title" required>
                        <option value="@ViewBag.data.Title">@ViewBag.data.Title</option>
                        @foreach (var item in ViewBag.bingotitlelist)
                        {
                            <option value="@item.Title">@item.Title</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>職謂</td>
                <td><input type="text" name="titleofcourtesy" value="@ViewBag.data.TitleOfCourtesy"/></td>
            </tr>
            <tr>
                <td>任職日期</td>
                <td><input type="date" name="hiredate" value="@ViewBag.hireDate"/></td>
            </tr>
            <tr>
                <td>生日</td>
                <td><input type="date" name="birthdate"  value="@ViewBag.birthDate"/></td>
            </tr>
            <tr>
                <td>國家</td>
                <td><input type="text" name="country" value="@ViewBag.data.Country" /></td>
            </tr>
            <tr>
                <td>城市</td>
                <td><input type="text" name="city" value="@ViewBag.data.City" /></td>
            </tr>
            <tr>
                <td>地址</td>
                <td><input type="text" name="add" value="@ViewBag.data.Address" /></td>
            </tr>
            <tr>
                <td>電話</td>
                <td><input type="text" name="phone" value="@ViewBag.data.Phone" /></td>
            </tr>
            <tr>
                <td>性別</td>
                <td>
                    <select name="gender">
                        <option value="@ViewBag.data.Title">@ViewBag.data.Title</option>
                        
                    </select>
                </td>
            </tr>
            <tr>
                <td>直屬主管</td>
                <td>
                    <select name="manager">
                        <option value="">選擇直屬主管</option>
                        
                    </select>
                </td>
            </tr>
            <tr>
                <td>月薪</td>
                <td><input type="text" name="msalary" /></td>
            </tr>
            <tr>
                <td>年薪</td>
                <td><input type="text" name="ysalary" /></td>
            </tr>
            <tr>
                <td></td>
                <td colspan="3">
                    <input type="submit" value="存檔" />
                    <input type="button" value="刪除" onclick="delemp('@ViewBag.data.EmployeeID')" />
                    <input type="button" value="回前一頁" onclick="previous()" />
                </td>
            </tr>
        </table>
    }
</body>
</html>
<script>
    function previous() {
        history.back();
    }
    function delemp(emploId) {
        $.ajax({
            type: "GET",
            url: "/Employee/delete",
            data: {
                emploId: emploId
            },
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        })
        alert("刪除成功");
        document.location.reload();
    }
</script>